@font-face {
  font-family: "PTSans";   /* имя шрифта для CSS правил */
  src: local("PTSans"),   
  url(fonts/PTSans.ttf);   /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

*{ 
	margin: 0; 
	padding: 0;
}

body{
    text-align: center;
}

/*Рабочая область - Центрирование*/
#wrap {
  margin: 0 auto;
  width: 850px;
  text-align: center;
}

/*Блок c данными одного человека*/
.blok{
	text-align: center;
	display: inline-block;
  width: 500px;
}

/*Аватарка в блоке*/
.msg-avatar{
  display: inline-block;
  height: 128px;
  width: 120px;
  background: url(images/avatar.png);
}

/*Вывод имени с фамилией в блоке*/
.msg-name{
  margin-left: 10px;
  margin-top: 40px;
  vertical-align: top;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 20px;
  font-family: "PTSans";
  color: rgb(77, 133, 159);
  font-weight: bold;
  text-align: right;
}

/*Вывод линии с буквой алфавита*/
.msg-line{
  background-color: blue; /* Цвет линии */
  color: blue; /* Цвет линии для IE6-7 */
  height: 2px; /* Толщина линии */

}





/*Заголовки блоков*/
p.main-text{
	font-size: 24px;
  font-family: "PTSans";
  color: rgb(51, 51, 51);
  text-align: left;
  padding-bottom: 20px;
  padding-left: 200px;
  font-weight: bold;
  height: 22px;
}

/*Название полей ввода*/
label{
  float:left;
  padding-right: 15px;
}


/*Почта и формат страниц навигации*/
.msg-email{
  font-size: 18px;
  font-family: "PTSans";
  color: rgb(101, 94, 94);
  display: inline-block;
  float: right;
  padding-right: 20px;
}

a{
    text-decoration:none;
    color:rgb(101, 94, 94);
}
.now_page{
  background: orange; /* Цвет фона */
  padding: 2px; /* Поля вокруг текста */
  color: white; /* Цвет текста */
}

/*Страницы навигации(ссылки*/
.msg-page{
  font-family: "PTSans";
  color: rgb(101, 94, 94);
  display: inline-block;
  font-weight: bold;
  padding-right: 20px;
  font-size: 24px;
  float: right;
  padding-top: 30px;
}

/*Стиль нажатой ссылки*/
.msg-page.active{
	color: rgb(255, 255, 255);
}

/*Блок для ввода сообщения с рамкой*/
.form-box{
  display: inline-block;

  background-image: url(images/Form_buble.png);
  height: 133px;
  background-repeat: no-repeat;
  margin-left: 170px;
  text-align: left;
  font-size: 14px;
  font-family: "PTSans";
  color: rgb(221, 70, 145);
  padding: 10px 10px 10px 10px;
}



/*Линия-подчеркивание поля ввода*/
input{
  background: url(images/Form.png)  no-repeat 0px 18px;
  border: none; 
  font-size: 20px;
  font-family: "PTSans";
  color: rgb(101, 94, 94);
  padding-bottom: 10px;
  padding-left:10px; 
  width: 400px; 
}

/*Форматирование для полей ввода*/
.form-left {
  float:left;
  margin-left: 230px;
}

.form-none{
  float: none;
  position: relative;
  width: 750px;
  height: 300px;
}

/*Стиль кнопки "Отправить"*/
button{
  background: #4d859f;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  border: none;
  border-bottom: 2px solid #345a6c;
  font-size: 22px;
  font-family: "PTSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.rigth{
  padding-top: 10px;
  text-align: right;
  padding-bottom: 20px;
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
  width: 540px;
  min-height: 133px;
  background-size: cover;
  background: transparent;
  text-align: left;
  display: inline-block;
  font-size: 14px;
  font-family: "PTSans";
  color: rgb(221, 70, 145);
  border: none;
  padding: 5px 10px 5px 10px;
}